@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cerapro-regular-webfont.eot');
  src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-regular-webfont.woff') format('woff'),
  url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cerapro-black-webfont.eot');
  src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-black-webfont.woff') format('woff'),
  url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cerapro-bold-webfont.eot');
  src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-bold-webfont.woff') format('woff'),
  url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;

}

$main_color:#f46a35;;

body {
  width: 1200px;
  margin: auto;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: flex-start;
  width: 1200px;
  .box_header{
    margin-top: 15px;
  }
  .account{
    display: flex;
    list-style: none;
    align-items: center;
    a{
      margin-right: 38px;
      text-decoration: none;
      color: #212121;
    }
  }
  .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border: 1px solid #f46a35;
    border-radius: 10px;
    width: 148px;
    height: 36px;
    background: #f46a35;
    margin-right: 0;

    a{
      color: #fff;
      text-decoration: none;
    }
  }
  nav{
    list-style: none;
    display: flex;

    ul{
      display: flex;
      list-style: none;
      align-items: center;
      li{
        margin-right: 50px;
        a{
          text-decoration: none;
          color: #333;
          font-weight: normal;
        }
      }
    }
  }
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .flex-box-1 {
    h3{
      font-weight: 400;
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 0.04em;
      color: #212121;
      white-space: normal;
      word-break: keep-all;
      width: 400px;
      margin-top: -70px;
    }
    .buttons-container::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #0000001a;
      height: 1px;
      width: 504px;
    }
    .buttons-container {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      position: relative;
      padding: 20px;
      margin-bottom: 33px;

      .btn-1{
        border: 1px solid #f46a35;
        border-radius: 10px;
        width: 160px;
        height: 48px;
        padding: 10px 20px;
        background-color: #f46a35;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        list-style: none;

a{
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
  text-decoration: none;
}
      }
      .btn-2{
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 160px;
        height: 48px;
        background: #fff;
        list-style: none;
        a{
          font-weight: 400;
          font-size: 14px;
          line-height: 157%;
          color: #212121;
          text-decoration: none;
        }
      }
    }
h5{
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #212121;
}
    p{
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.02em;
      color: #212121;
    }
    .learn{
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #f46a35;
      text-decoration: none;
      margin-bottom: 60px;
    }
    }
  .flex-box-2 {
    margin-right: 0;
  }
  }

.flex-container_2{
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
li{
  list-style: none;
  margin-right: 47px;
  }
  }
}
.flex-container_3{
  margin-top: 208px;
  h4{
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #212121;
    margin: auto;
  }
  p{
    font-weight: 400;
    font-size: 19px;
    line-height: 168%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
    margin: auto;
  }
}
.flex-container_4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .flex-box_3{
    .btn-3 a{
      color: white;
      text-decoration: none;
    }
    h4, p{
      font-weight: 400;
      text-align: center;
      color: #fff;
      margin-bottom: 10px;
      margin-right: 52px;
      margin-left: 52px;
    }
    max-width: 100%;
    background-image: url("../images/IMAGE111.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  .flex-box-4{
    .btn-3 a{
      color: #212121;
      text-decoration: none;
    }
    max-width: 100%;
    background-image: url("../images/IMAGE112.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    h4, p{
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
      color: #212121;
      margin-right: 52px;
      margin-left: 52px;
    }
  }
  .btn-3{
    border: 1px solid #fff;
    border-radius: 10px;
    width: 160px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

  }
}
.info_1{
  background: #f9f9f9;
  width: 1200px;
  height: 1000px;
  h4{
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.04em;
    color: #212121;
    margin-left: 48px;
    margin-top: 95px;
  }
  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #212121;
    margin-left: 48px;
    margin-top: 21px;
    margin-right: 302px;
  }
  img{
    display: grid;
    place-items: center;
   margin-left: 48px;
    width: 1104px;
    height: 621px;
    margin-top: 40px;
  }
  .btn-4{
    border: 1px solid #212121;
    border-radius: 10px;
    width: 203px;
    height: 48px;
margin-left: 48px;
    a{
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
      color: #212121;
      text-decoration: none;
    }
  }
}
.content-block_1{
  .content{
    text-align: center;
    margin: 0 20px;
  }
  display: flex;
  align-items: center;
  background: #fff;
  width: 1200px;
  height: 400px;
  text-align: center;
  margin-bottom: 100px;
  .left-arrow, .right-arrow {
    background: #edefee;
    height: 20px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: bold;
    color: black;
    margin-top: 170px;
    cursor: pointer;
  }


  p{
    margin-left: 263px;
    margin-right: 263px;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 22px;
    line-height: 109%;
    text-align: center;
    color: #212121;
  }
  span{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
  }
  img{
    margin-top: 251px;
    margin-bottom: 49px;
  }
}
.content-block_2{
  display: flex;
  justify-content: space-between;
margin-bottom: 81px;
  p{
    margin-right: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #212121;
  }
  a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f46a35;
  }
  .content-box-1{
    margin-right: 64px;
  }
  .content-box-1:last-child {
    margin-right: 0;
  }
}
.content-block_3 {
  display: flex;
  justify-content: space-between;
  .content-box-3 {
    width: 275px;
    height: 200px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.content-block_4 {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  h3,p{
    margin-left: 48px;
  }
  h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: #212121;
    margin-top: 110px;
  }
  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #212121;
  }
  .buttons-container{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 20px;
    margin-bottom: 33px;
    margin-left: 48px;
    .btn-1 {
      border: 1px solid #f46a35;
      border-radius: 10px;
      width: 160px;
      height: 48px;
      padding: 10px 20px;
      background-color: #f46a35;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      a{
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #fff;
        text-decoration: none;
      }
    }
    .btn-2{
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 160px;
      height: 48px;
      background: #fff;
      a{
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #212121;
        text-decoration: none;
      }
    }
  }
}
//footer
.footer-container{
  width: 1200px;
  height: 100%;
  background: #171717;
  flex-wrap: wrap;
  .flex-box-5{

    .footer_product{
      display: flex;
      justify-content: space-between;
      .logo{
        margin-left: 50px;
        margin-top: 135px;
        color: #000;
      }
      p{
        color: #ffffff;
        all: unset;
      }
      ul{
        margin-top: 135px;
        color: #ffffff;
        margin-right: 70px;
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: #bcbdbd;
            font-weight: normal;
          }
        }
      }
    }
  }

  .flex-box-6 {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .social_bloc {
      ul {
        list-style: none;
        margin-top: 20px;
        margin-bottom: 33px;
        align-items: flex-start;
        justify-content: start;
        gap: 10px;

        li {
          display: inline-block;
          margin-right: 24px;
        }
      }
    }
    .box-f{
      margin-right: 500px;
    }
  }
  .brex{
    p{
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: 0.02em;
      color: #bcbdbd;
      margin: 10px 50px;
    }
    padding-bottom: 108px;
  }
}

.logo img{
  animation: bounceLogo 5s linear infinite;
}
@keyframes bounceLogo {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.content-box-3 img{
  animation: IMEGEbouns 5s linear infinite;
}
@keyframes IMEGEbouns {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

