body {
  width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: flex-start;
  width: 1200px;
}
header .box_header {
  margin-top: 15px;
}
header .account {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 15px;
}
header .account a {
  margin-right: 38px;
  text-decoration: none;
  color: #212121;
}
header .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border: 1px solid #f46a35;
  border-radius: 10px;
  width: 148px;
  height: 36px;
  background: #f46a35;
  margin-top: 5px;
  margin-right: 0;
}
header .contact a {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
  text-decoration: none;
}
header nav {
  list-style: none;
  display: flex;
  font-weight: 700;
}
header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header nav ul li {
  margin-right: 57px;
}
header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container .flex-box-1 h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #212121;
  white-space: normal;
  word-break: keep-all;
  width: 400px;
}
.flex-container .flex-box-1 .buttons-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1019607843);
  height: 1px;
  width: 504px;
}
.flex-container .flex-box-1 .buttons-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  padding: 20px;
  margin-bottom: 33px;
}
.flex-container .flex-box-1 .buttons-container .btn-1 {
  border: 1px solid #f46a35;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  padding: 10px 20px;
  background-color: #f46a35;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.flex-container .flex-box-1 .buttons-container .btn-1 a {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
}
.flex-container .flex-box-1 .buttons-container .btn-2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  height: 48px;
  background: #fff;
}
.flex-container .flex-box-1 .buttons-container .btn-2 a {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #212121;
}
.flex-container .flex-box-1 h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #212121;
}
.flex-container .flex-box-1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: #212121;
}
.flex-container .flex-box-1 .learn {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f46a35;
  text-decoration: none;
  margin-bottom: 60px;
}

.flex-box-2 {
  margin-right: 0;
}

.flex-container_2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container_2 ul li {
  list-style: none;
  margin-right: 47px;
}

.flex-container_3 {
  margin-top: 208px;
}
.flex-container_3 h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #212121;
  margin: auto;
}
.flex-container_3 p {
  font-weight: 400;
  font-size: 19px;
  line-height: 168%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
  margin: auto;
}

.flex-container_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container_4 .flex-box_3 {
  width: 580px;
  height: 641px;
  background-image: url("images/IMAGE111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/*# sourceMappingURL=project.css.map */
